@import "font/stylesheet.css";
@import "js/fm.revealator.jquery.min.css";
/* 1. Css reset.
 * 2. Blocks styles
 * 3. Classes styles
 *
 */

/* 1. Css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Bw Modelica LGC';
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
  font-family: 'Bw Modelica LGC';
  color: #d4a856;
  overflow-x: hidden;
}
ol, ul {
  list-style: none;
}
img {
  max-width: 100%;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 2. Blocks styles */
canvas { width: 100%; height: 100% }
h1 {
  //text-indent: -9999px;
}
//h1 {
//  font-size: 48px;
//  font-family: "BwModelicaLGC";
//  color: rgb(254, 254, 254);
//  font-weight: bold;
//  line-height: 1;
//  text-align: center;
//  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
//  -moz-transform: matrix( 2.06993115677128,0,0,2.06894342057874,0,0);
//  -webkit-transform: matrix( 2.06993115677128,0,0,2.06894342057874,0,0);
//  -ms-transform: matrix( 2.06993115677128,0,0,2.06894342057874,0,0);
//  position: absolute;
//  left: 384.073px;
//  top: 249.397px;
//  z-index: 236;
//}


/* 3. Classes styles */
.clearfix {
  clear: both;
}
#WebGL-output {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  opacity: .33;

  & canvas {
    max-width: 100%;
  }
}
#product_name {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 200px;
  text-align: center;
  display:block;
  color: #fff;
  font-size: 38px;
  text-indent: -9999px;
  background: url("img/text.png") no-repeat;
  background-position: center;
  background-size: 25%;
  z-index: 5;
}
.video_clip {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
  z-index: 10;
  transition: all 1s;

  video {
    max-width: 100%;
    max-height: 100vh;
    height: 100%;
    width: 100%;
    background: #000;
  }
}
.buy_ico {
  display: inline-block;
  height: 13px;
  width: 15px;
  background: url("img/buy.png") no-repeat;
}
.button_gold {
  display: block;
  background: linear-gradient(0deg,#e2b454, #ecaa31);
  box-shadow: 1px 1px 4px #888;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.2px;
  width: 325px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  font-weight: 900;
  margin: 0 auto 6px;

  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;

  & .price {
    display: inline-block;
    background: #fff;
    color: #d4a654;
    margin: 4px;
    height: 52px;
    padding: 0 20px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 52px;

    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }

  &:hover {
    background: linear-gradient(0deg, #d99632,#e2b454);
    text-shadow: 0 0 2px #464646;
    box-shadow: 1px 1px 10px #999;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    filter: brightness(1.1);

    & .price {

      text-shadow: 0 0 2px #ffcb00;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease;
    }
  }

}


.first {
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 10px #000;
  background-image: url('/img/header_bg.png');

  & figure {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
  }
  & .kolo {
     position: absolute;
     width: 100%;
     height: 100%;
     object-fit: contain;
     bottom: 0;
     z-index: 2;
  }
  & .podstavka {
    position: absolute;
    width: 100%;
    max-width: 474px;
    height: 100%;
    object-fit: contain;
    z-index: 3;
    max-height: 402px;
    bottom: -120px;
    opacity: .95;
  }
  & .hero {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    bottom: 0;
    z-index: 4;
  }

  & .play_block {
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: calc(~"50% - 62px");
    left: calc(~"50% - 62px");
    border: 2px solid #d4a856;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    z-index: 5;

    &:hover .play_img {
      filter: contrast(1.2);
    }
    &:hover {
      box-shadow: 0 0 20px #000;
    }
  }
  & .play_img {
    width: 50px;
    padding-left: 12px;
  }
  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 4;

    & li {
      display: inline-block;
      padding: 10px;
      border-bottom: 1px solid #d4a856;
      position: absolute;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 300;
      opacity: 0;
      text-shadow: 0 0 25px #ffc85e;
      &:after {
        display: block;
        content: "";
        border-bottom: 1px solid #d4a856;
        width: 100px;
        position: absolute;
        filter: brightness(1.4);
      }
    }
    .slide_2, .slide_4, .slide_6 {
      right: calc(~"50% + 120px");
      text-indent: -40px;

      &:after {
        transform: rotate(45deg);
      }
    }
    .slide_1, .slide_3, .slide_5 {
      left: calc(~"50% + 120px");
      &:after {

      }
    }
    .slide_1 {
      top: 30%;
      transition: opacity 1s ease-out;

      &:after {
        left: -85px;
        bottom: -36px;
        transform: rotate(-45deg);
      }
    }
    .slide_2 {
      top: 34%;
      transition: opacity 1s ease-out 1s;
      &:after {
        right: -85px;
        bottom: -36px;
        transform: rotate(45deg);
      }
    }
    .slide_3 {
      top: 40%;
      transition: opacity 1s ease-out 2s;
      &:after {
        left: -98px;
        bottom: -14px;
        transform: rotate(-15deg);
      }
    }
    .slide_4 {
      top: 46%;
      transition: opacity 1s ease-out 3s;
      &:after {
        right: -98px;
        bottom: -14px;
        transform: rotate(15deg);
      }
    }
    .slide_5 {
      top: 52%;
      transition: opacity 1s ease-out 4s;
      &:after {
        left: -97px;
        bottom: 12px;
        transform: rotate(15deg);
      }
    }
    .slide_6 {
      top: 60%;
      transition: opacity 1s ease-out 5s;
      &:after {
        right: -85px;
        bottom: 34px;
        transform: rotate(-45deg);
      }
    }
  }
}

.second {
  padding-bottom: 80px;
  header {
    padding: 50px;
    overflow: hidden;
    max-width: 1150px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    box-shadow: 0 0 56px rgba(0,0,0, .35);
    background: #fff;
    top: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

    .left_side {
      float: left;
      max-width: calc(~"100% - 335px");

      h2 {
        font-size: 48px;
      }
      p {
        font-size: 24px;
      }
    }
    .right_side {
      float: right;
      padding-top: 6px;

      .button_gold {
        float: right;
        margin-top: 20px;
      }
    }
  }
  .slider_mob {
    display: none;
  }
  .description {
    display: block;
    margin: 0 auto;
    padding: 0 40px 40px 40px;
    max-width: 1150px;
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 20px;
    line-height: 32px;
    & a {
      color: #d4a856;
      text-decoration: none;

      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease;
      &:hover {
        color: #fcd05f;

        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
      }
    }
  }
  .magic {
    width: 100%;
    position: relative;

    .privelege_item:nth-child(even) {
      text-align: left;
      padding-left: 250px;

      .icon i {
        left: -70px;
        background-position: right;
      }
    }
    .privelege_item:nth-child(odd) {
      text-align: right;
      padding-right: 250px;

      .icon i {
        right: -70px;
      }
    }
    .privelege_item:nth-child(3) {
      padding-right: 320px;
    }
    .privelege_item:nth-child(4) {
      padding-left: 320px;
    }
    .spa {
      background: url("/img/icons/spa.png");
    }
    .molecule {
      background: url("/img/icons/molecule.png");
    }
    .molecule1 {
      background: url("/img/icons/molecule2.png");
    }
    .mindfulness {
      background: url("/img/icons/mindfulness.png");
    }
    .eyebrow {
      background: url("/img/icons/eyebrow.png");
    }
    .plant {
      background: url("/img/icons/plant.png");
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
    ul {
      display: flex;
      flex-wrap: wrap;

      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      li {
        width: 100%;
        color: #000;
        line-height: 32px;
        box-sizing: border-box;

        .icon i {
          display: block;
          content: "";
          position: absolute;
          top: 0;
          width: 50px;
          height: 50px;
          filter: ;

          background-repeat: no-repeat;
          background-size: contain;
          max-height: 50px;
        }
        strong {
          color: #000;
          display: block;
          font-size: 16px;
          font-weight: bold;
          position: relative;
        }
        p {
          font-size: 14px;
        }
      }

      .slide_1 {
        top: 100px;
      }
      .slide_2 {
        top: 100px;
      }
      .slide_3 {
        top: 100px;
      }
      .slide_4 {
        top: 100px;
      }
      .slide_5 {
        top: 100px;
      }
      .slide_6 {
         top: 100px;
      }

    }
    .button_gold {

    }
  }
}

.third {
  background: #fbfaf7;
  padding-top: 20px;
  .into {
    color: #838383;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    padding-top: 20px;
  }
  .description {
    text-align: center;
    font-weight: lighter;
    line-height: 25px;
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px 10px;
    color: #6f6f6f;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 0;
  }
  .after_text {
    text-align: center;
    display: block;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    color: #000;
  }

  .graphic_1 {
    max-width: 1150px;
    text-align: center;
    margin: 0 auto;
    width: 100%;

    .orange_line {
      display: inline-block;
      width: 100%;
      color: #fff;
      max-width: 480px;
      text-align: left;
      margin: 0;
      padding: 10px 20px;
      box-sizing: border-box;


      span {
        position: absolute;
        right: 10px;
        top: 10px;
      }
      p {
        padding: 10px;
        position: relative;

        background-image: -moz-linear-gradient( 31deg, rgb(226,180,84) 0%, rgb(206,141,49) 100%);
        background-image: -webkit-linear-gradient( 31deg, rgb(226,180,84) 0%, rgb(206,141,49) 100%);
        background-image: -ms-linear-gradient( 31deg, rgb(226,180,84) 0%, rgb(206,141,49) 100%);
        box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.25);
      }
    }

    .p_100 p {
      width: 100%;
    }
    .p_97 p {
      width: 97%;
    }
    .p_91 p {
      width: 91%;
    }
    .p_81 p {
      width: 81%;
    }
    .p_88 p {
      width: 88%;
    }
    .p_78 p {
      width: 78%;
    }

  }

}
.fourth {
  margin: 40px auto;
  max-width: 1150px;
  overflow: hidden;

  .left_side {
    width: 50%;
    float: left;
  }
  .intro {
    font-weight: lighter;
    line-height: 25px;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px;
    color: #6f6f6f;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
  }
  .graphic_2 {
    position: relative;
    text-align: center;
    width: 50%;
    float: right;
  }
  .graphic_2-container {
    background: #fbfaf7;
    position: relative;
    top: -20px;
    z-index: 1;
    display: block;
    padding-bottom: 40px;
    color: #838383;

    .lines {
      padding: 20px;
      li {
        width: 100%;
        border-bottom: 1px solid #f7f1e5;
        line-height: 40px;
        text-align: left;
      }
    }
    .graphs {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;

      div {
        height: 40px;
        display: inline-block;
        width: 30%;
        padding: 10px;
        position: absolute;
        bottom: 0;
        text-align: center;

        span {
          display: block;
          position: absolute;
          top: -20px;
          width: 100%;


        }
        p {
          display: block;
          width: 60px;
          margin: 0 auto;
          height: 0;
          background: #dfaf4f;
          position: absolute;
          bottom: 60px;
          left: calc(~"50% - 30px");
        }
      }

      .now {
        left: 10%;

        & .revealator-within {
          height: 209px;
        }
      }
      .hour {
        left: 35%;
        & .revealator-within {
          height: 105px;
        }
      }
      .four_hour {
        left: 60%;
        & .revealator-within {
          height: 96px;
        }
      }
    }
  }
  h3 {
    color: #fff;
    text-transform: uppercase;
    padding: 0 20px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    height: 40px;
    line-height: 40px;
    z-index: 2;
    background: #d9d4c5;
  }
  .conclusion p {
    padding: 10px;
    color: #838383;
    line-height: 25px;
    font-size: 16px;
    letter-spacing: 2px;
  }
}
//Три блока с процентами
.fives {
  text-align: center;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;

  div {
    width: 30%;
    display: inline-block;

    strong {
      text-transform: uppercase;
      color: #000;
      font-size: 20px;
      font-weight: bold;
      line-height: 26px;
    }
    span {
      font-size: 40px;
      text-shadow: 0 0 5px #d59b3eb3;
      color: #eeb41a;
      padding: 20px 0;
      filter: contrast(105%) brightness(105%);
      font-weight: 700;
    }
    .animation_count {
      display: block;
    }
    p {

      font-size: 16px;
      color: #838383;
    }
  }

  .col_1 {

  }
  .col_2 {

  }
  .col_3 {

  }
}
.six {
  background: #1e1f23;
  display: flex;
  color: #fff;
  padding-bottom: 25px;

  .left_col {
    width: 50%;
  }
  .quot_text {
    max-width: 575px;
    float: right;
  }
  h2 {
    font-weight: bold;
    font-size: 30px;
    padding: 30px 0;
  }
  blockquote {
    padding: 20px 20px 20px 0;
  }
  span {
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
  }
  .gold_quot {
    color: #d4a856;
  }
  .author {
    font-weight: 600;
    font-size: 22px;
  }

  .right_col {
    width: 50%;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    .descr {
      text-align: center;
      position: absolute;
      margin: 60px auto;
      max-width: 250px;
      left: calc(~"50% - 125px");
      width: 100%;
      color: #fffc;
      line-height: 30px;
    }
    span {
      display: block;
      color: #d4a856;
    }
  }

  .hero_stripe {

  }
}
.seven {
  background: #d9d4c5;
  width: 100%;
  position: relative;

  .banner {
    top: -50px;
    max-width: 1150px;
    margin: 0 auto;
    position: relative;
    background: #fbfaf7;
    text-align: center;
    font-size: 20px;
    padding: 40px 70px;
    color: #000;
    transition: all 1s;


    p {
      line-height: 30px;
      max-width: 720px;
      margin: 0 auto;
      strong {
        font-weight: bold;
      }
    }
    .golden_text {
      color: #d4a856;
    }
    .button_gold {
      margin: 30px auto;
    }

  }
}


@import "adaptive.css";